.searchMain{
        min-width: 100%;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
}
.searchMain__container{
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        
}
.searchMain__title {
        min-width: 1440px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
}
.searchMain__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        text-align: center;
        flex: 1 1 auto;
}
.info__region {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.info__title {
        max-width: fit-content;
        font-family: Jost;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        color: #4fbb37;
        padding-bottom:10px;
        margin-bottom: 10px;
        border-bottom: 5px solid #4fbb37;
}
.info__subtitle {
        color: #000;
        text-align: center;
        font-family: Jost;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
}
.info__data {
        display: flex;
        flex-direction: column;
}
.searchMain__location {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        max-width: 100%;
}
.location__block {
        display: flex;
        min-width: 800px;
        max-width: 1000px;
        min-height: 800px;
        max-height: 1000px;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background-color:#4fbb37;
        border-radius: 100px;
}
.location__title {
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
color: #F2F047;
font-family: Jost;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.location__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 1 1 auto;
}




.location__item label{
        display: flex;

	cursor: pointer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
        padding: 15px;
        min-height: 150px;
        border:5px solid #FFF;
        border-radius: 100px;
        color: #FFF;
        background-color: #4fbb37;
        text-align: center;
        font-family: Jost;
        font-size: 46px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        user-select: none;
h1{
max-width: 600px;
}
        h2{
                color: #F2F047;
                font-family: Jost;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 60px;
                max-width: 600px;
        }
}

.location__item input[type=radio]{
        display: none;
}

.location__list .location__item input:checked + label{
        background-color:white;
        color:#000;

        h2{
                color:#4fbb37;
        }
}


.searchMain__search {
margin-top: 100px;
margin-bottom: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 100%;
height: 200px;
}
.search__button {
color: #FFF;
text-align: center;
font-family: Jost;
font-size: 60px;
font-style: normal;
font-weight: 500; 
line-height: 60px;
padding: 30px;
max-width: 600px;
background-color:#4fbb37;
}
.search__button:hover{
background-color: #ffffff;
  color:#4FBB37;
  border:5px solid #4FBB37;}








